.animated-background{
    background: linear-gradient(
      to right, #DCD9C6,
      #74593D, #B5C1B4);
    background-size: 400% 400%;
    animation: animate-backgroud 10s infinite ease-in-out;
  }
    @keyframes animate-background {
      0%{
        background-position:  50% 50%;
      }
      50%{
        background-position: 100% 50%;
      }
      100%{
        background-position:  50% 50%;
      }
    }