.gradient-custom-2 {
  /* fallback for old browsers */
  background: #e7e6ee;

  /* Chrome 10-25, Safari 5.1-6 */
  /*background: -webkit-linear-gradient(to right, #a790e7, #9871f3, #4533e9, #0e0beb);*/
  

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /*background: linear-gradient(to right,#a790e7, #9871f3, #4533e9, #0e0beb);*/
}

.animated-background{
  background: linear-gradient(
    to right, #DCD9C6,
    #74593D, #B5C1B4);
  background-size: 400% 400%;
  animation: animate-backgroud 10s infinite ease-in-out;
}
  @keyframes animate-background {
    0%{
      background-position:  50% 50%;
    }
    50%{
      background-position: 100% 50%;
    }
    100%{
      background-position:  50% 50%;
    }
  }

  /* #66D7D1,
  #FFF87F, #EAF2E3 */

  /* Segundo color #DCD9C6,
  #74593D, #B5C1B4 */

.registro{
  text-align: center; 
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif; 
  font-size: x-large;
}

@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}
@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
  }
}

#imagen{
  padding-right: 50rem;
}

